

li{
  list-style: none;
}
li a{
  text-decoration: none;
  line-height: 30px;
}

.slider_bg1{
  background-image: url(../src/assets/carocel/carocel2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}


.slider_bg2{
  background-image: url(../src/assets/carocel/carocel3.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}


.navbar-nav .nav-link.active{
  background-color: rgb(113, 120, 126);
  border-radius: 5px;
  padding: 5px;
}


.card{
  box-shadow: 0 13px 10px rgb(0 0 0 / 0.8);
  overflow: hidden;
  transition: all 0.5s;
}
.skl:hover{
  transform: scale(1.1);
 
  box-shadow: 0 13px 10px rgb(0 0 0 / 0.8);
}

.popular-hover{
  background-color: rgba(5, 5, 5, 0.699);
  top: 0; 
  left: 100%;
  transition: all 0.5s;
  position: absolute;
}
.popular-hover-main:hover .popular-hover{
  left: 0;
}

.exta-section-bg{
  background-color: aqua;
  border-top-left-radius: 50%;
}