.slider_bg1{
  background-image: url(../src/assets/carocel/carocel2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}
.slider_bg2{
  background-image: url(../src/assets/carocel/carocel3.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}


.navbar-nav .nav-link.active{
  background-color: rgb(113, 120, 126);
  border-radius: 5px;
  padding: 5px;
}


.card{
  box-shadow: 0 13px 10px rgb(0 0 0 / 0.8);
  transition: all 0.5s;
}
.card:hover{
  transform: scale(1.1);
  box-shadow: 0 13px 10px rgb(0 0 0 / 0.8);
}